// ======================================================================================
//  Tables
// ======================================================================================


table {
  @include rounded;
  @include border;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;

  tr:last-child {
    & > * {
      border-bottom: 0;
    }
  }

  td,
  th {
    @include border(bottom);
    text-align: left;
    padding: $space-half;
  }

  th {
    background-color: palette('neutral', 'light');
  }

  td:first-child {
    color: palette('neutral');
  }
}
