// ======================================================================================
//  Headings
// ======================================================================================



h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $space;
}

h1,
h2 {
  color: palette('secondary');
}

h3,
h4,
h5,
h6 {
  color: palette('primary');
}

h1 {
  @include font('opensans', 'light');
  @include font-size('x3-large');
}

h2 {
  @include font-size('x2-large');
}

h3 {
  @include font('opensans', 'semi-bold');
  @include font-size('x-large');
}

h4 {
  @include font('opensans', 'light');
  @include font-size('large');
}

h5 {
  @include font('opensans', 'semi-bold');
  font-style: italic;
}

h5,
h6 {
  @include font-size('medium');
}
