// ======================================================================================
//  Grid elements
// ======================================================================================



// ==========================================
//  Container widths
//  Set the container width, and override
//  it for fixed navbars in media queries.
// ==========================================

.container {
  @include container-fixed;

  @media (min-width: $screen-s-min) {
    width: $container-s;
  }
  @media (min-width: $screen-m-min) {
    width: $container-m;
  }
  @media (min-width: $screen-l-min) {
    width: $container-l;
  }
  @media (min-width: $screen-xl-min) {
    width: $container-xl;
  }
}



// ==========================================
//  Fluid container
//  Utilizes the mixin meant for fixed width
//  containers, but without any defined width
//  for fluid, full width layouts.
// ==========================================

.container-fluid {
  @include container-fixed;
}


// ==========================================
//  Row
//  Rows contain and clear the floats of
//  your columns.
// ==========================================

.row {
  @include make-row;
}


// ==========================================
//  Columns
//  Common styles for small and large
//  grid columns
// ==========================================

@include make-grid-columns();


// ==========================================
//  Extra small grid
//  Columns, offsets, pushes, and pulls for
//  extra small devices like smartphones.
// ==========================================

@include make-grid(xs);


// ==========================================
//  Small grid
//  Columns, offsets, pushes, and pulls for
//  the small device range, from phones to
//  tablets.
// ==========================================

@include mq(s) {
  @include make-grid(s)
}


// ==========================================
//  Medium grid
//  Columns, offsets, pushes, and pulls for
//  the desktop device range.
// ==========================================

@include mq(m) {
  @include make-grid(m)
}


// ==========================================
//  Large grid
//  Columns, offsets, pushes, and pulls for
//  the large desktop device range.
// ==========================================

@include mq(l) {
  @include make-grid(l)
}


// ==========================================
//  Extra Large grid
//  Columns, offsets, pushes, and pulls for
//  the extra large desktop device range.
// ==========================================

@include mq(xl) {
  @include make-grid(xl)
}
