// ======================================================================================
//  Spacing units to properly size your UI
//  Source: http://csswizardry.com/2011/12/measuring-and-sizing-uis-2011-style
// ======================================================================================



// ==========================================
//  Assign our '$base-line-height' to a
//  new spacing var for more transparency
// ==========================================

$space:                                         $base-line-height !default;


// ==========================================
//  Smaller units
// ==========================================

$space-half:                                    $space/2 !default;
$space-quarter:                                 $space/4 !default;


// ==========================================
//  Larger units
// ==========================================

$space-double:                                  $space*2 !default;
$space-triple:                                  $space*3 !default;
$space-quadruple:                               $space*4 !default;
