// ======================================================================================
//  Z-index values
// ======================================================================================



// ==========================================
//  USAGE:
//
//  @include zindex(z-header-nav);
// ==========================================

$zindex: (
  z-showmqlabel:                                70,
  z-modal:                                      61,
  z-logo:                                       51,
  z-main-nav:                                   50,
  z-cookie:                                     42,
  z-loader-before:                              41,
  z-loader-after:                               40,
  z-hint:                                       30
);
