// ======================================================================================
//  Typography
// ======================================================================================



// ==========================================
//  Base font size & line height
//
//  The $base-line-height is used for
//  creating spacing classes, and the
//  line-height ration is used inf the
//  $font-sizes map
// ==========================================

$base-font-size:                                15px !default;
$base-line-height:                              24px !default;
$line-height-ratio:                             $base-line-height/$base-font-size !default;


// ==========================================
//  Here we assign short names for the
//  font families
// ==========================================

$font-base:                                     'Myriad Pro', sans-serif;
$font-opensans:                                 'Open Sans', sans-serif;


// ==========================================
//  Here we store variables for the
//  font-face functions and mixins stored
//  in the toolbox
// ==========================================

$font-base-url:                                 'fonts/';
$font-used:                                     ();


// ==========================================
//  Here we store all of the font-faces
// ==========================================

$font-stack: (
  'opensans': (
    'regular': (
      family: $font-opensans,
      weight: normal,
      style: normal,
      font-face: (
        family: 'Open Sans',
        path: 'fonts/OpenSans-Regular',
        formats: (eot woff ttf svg)
      ),
    ),
    'light': (
      family: $font-opensans,
      weight: 300,
      style: normal,
      font-face: (
        family: 'Open Sans',
        path: 'fonts/OpenSans-Light',
        formats: (eot woff ttf svg)
      ),
    ),
    'semi-bold': (
      family: $font-opensans,
      weight: 600,
      style: normal,
      font-face: (
        family: 'Open Sans',
        path: 'fonts/OpenSans-SemiBold',
        formats: (eot woff ttf svg)
      ),
    ),
  ),
  'base': (
    'regular': (
      family: $font-base,
      weight: normal,
      style: normal
    ),
  ),
);


// ==========================================
//  Here we store short names for all
//  the sizes
// ==========================================

$font-sizes: (
  'x2-small': (
    font-size:                                  10,
    line-height:                                $line-height-ratio
  ),
  'x-small': (
    font-size:                                  12,
    line-height:                                $line-height-ratio
  ),
  'small': (
    font-size:                                  14,
    line-height:                                $line-height-ratio
  ),
  'base': (
    font-size:                                  15,
    line-height:                                $line-height-ratio
  ),
  'medium': (
    font-size:                                  16,
    line-height:                                $line-height-ratio
  ),
  'large': (
    font-size:                                  18,
    line-height:                                $line-height-ratio
  ),
  'x-large': (
    font-size:                                  20,
    line-height:                                $line-height-ratio
  ),
  'x2-large': (
    font-size:                                  28,
    line-height:                                $line-height-ratio
  ),
  'x3-large': (
    font-size:                                  36,
    line-height:                                $line-height-ratio
  )
);
