// ======================================================================================
//  Debug Mode
//  Activate switch $debug-mode in _settings.config.scss
// ======================================================================================



// ==========================================
//  Red border    ==  something is wrong
//  Yellow border ==  something may be wrong,
//                    you should double check.
//  Green border  ==  perfect, nice one!
// ==========================================

@if $debug-mode {


  //  Are there any empty elements in your page?
  :empty {
    outline: 5px solid palette('yellow');
  }


  //  Images require `alt` attributes, empty `alt`s are fine but should be
  //  double-checked, no `alt` is bad and is flagged red.
  img {
    outline: 5px solid palette('red');

    &[alt] {
      outline: none;
    }

    &[alt=''] {
      outline: 5px solid palette('yellow');
    }
  }


  //  Links sometimes, though not always, benefit from `title` attributes. Links
  //  without are never invalid but it’s a good idea to check.
  a {
    outline: 5px solid palette('yellow');

    &[title] {
      outline: none;
    }

    //  Double-check any links whose `href` is something questionable.
    &[href='#'],
    &[href*='javascript'] {
      outline: 5px solid palette('yellow');
    }

    //  The `target` attribute ain’t too nice...
    &[target] {
      outline: 5px solid palette('yellow');
    }
  }


  //  Ensure any lists only contain `li`s as children.
  ul,
  ol {
    > *:not(li) {
      outline: 5px solid palette('red');
    }
  }


  //  It’s always nice to give `th`s `scope` attributes.
  th {
    outline: 5px solid palette('yellow');

    &[scope] {
      outline: none;
    }
  }


  //  `tr`s as children of `table`s ain’t great,
  //  did you need a `thead`/`tbody`?
  table > tr {
    outline: 5px solid palette('yellow');
  }


  //  `tfoot` needs to come *before* `tbody`.
  tbody + tfoot {
    outline: 5px solid palette('yellow');
  }


  //  Forms require `action` attributes
  form {
    outline: 5px solid palette('red');

    &[action] {
      outline: none;
    }
  }


  //  Various form-field types have required attributes. `input`s need `type`
  //  attributes, `textarea`s need `rows` and `cols` attributes and submit buttons
  //  need a `value` attribute.
  textarea {
    outline: 5px solid palette('red');

    &[rows],
    &[cols] {
      outline: none;
    }
  }

  input {
    outline: 5px solid palette('red');

    &[type] {
      outline: none;
    }

    &[type=submit] {
      outline: 5px solid palette('red');
    }

    &[type=submit],
    &[value] {
      outline: none;
    }
  }


  //  Avoid inline styles where possible.
  [style] {
    outline: 5px solid palette('yellow');
  }


  //  You should avoid using IDs for CSS, is this doing any styling?
  [id] {
    outline: 5px solid palette('yellow');
  }
}



// ==========================================
//  Media query helper
//  Displays the current active media query in the bottom right corner
// ==========================================

@if $debug-mode == true or $show-mq == true {

  //  Append media query label on body::after
  body::after {
    @include zindex(z-showmqlabel);
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 6px 8px;
    border-radius: 5px 5px 0 0;
    background: palette('black');
    color: palette('white');
    font-family: monospace;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    content: 'screen size not supported';
    opacity: .75;
  }


  //  Displays current media query per breakpoint
  //  Set a unique bg-color on the body per viewport
  //  for quickly identifying the matching viewport. (toggle in settings.config)
  $hsl-step-value: 360 / length($breakpoints);

  @for $i from 1 through length($breakpoints) {
    $breakpoint: nth($breakpoints, $i);
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);
    $hue-value: ($hsl-step-value * $i) - ($hsl-step-value / 2);

    @media only screen and (min-width: #{$declaration}) {
      @if $show-mq--colors == true {
        body {
          // sass-lint:disable-block no-important, no-color-literals
          background: hsla($hue-value, 100%, 50%, .15) !important;
        }
      }

      body::after {
        content: '#{$name}: #{$declaration}';
      }
    }
  }
}
