// ======================================================================================
//  Buttons
// ======================================================================================



// ==========================================
//  Default button styling
// ==========================================

.btn {
  padding: $space-quarter $space;
  color: palette('white');
  background-color: palette('primary');
  border: 0;
  border-radius: $space;
  line-height: normal;
  text-decoration: none;
  transition: $transition-speed $transition-ease;

  &:hover {
    @include elevation(2);
    color: palette('white');
    background-color: palette('secondary');
  }

  &:focus,
  &:active,
  &:active:focus {
    @include elevation(4);
    color: palette('white');
    background-color: palette('tertiary');
    outline: none;
    outline-offset: unset;
  }
}
